@import 'vars';
@import 'loader';

body {
	margin: 0;
	padding: 0;
	background: url(../images/background.png) repeat;
	font-family: $font2;
	color: rgba(0,0,0,0.8);
	max-width: 1600px;
	background-width: 1592px;
	position: relative;
	margin: 0 auto;
}

html {
    height: 100%;
    background: url(../images/tobig.png) repeat-y center center;
}

.start, .battle, .result {
    height: 1500px;
}

main {
	width: $width;
	margin: 0 auto;

	.col {
		float: left;
		width: 200px;
		margin-right: 25px;
	}
	.col:nth-child(5) {
		margin-right: 0;
	}
}


.start {
	header {
		background: url(../images/header.png) no-repeat center center; 
		width: 100%;
		height: 420px;
	}

	main {
		
		.wrapper {
			padding: 0 50px;
			margin-top: -30px;
		}

		img {
			border-radius: 100px;
			width: 200px;
			height: 200px;
			box-shadow: inset 0px 24px 0px 0px rgba(50, 50, 50, 0.3), 0px 1px 0px 2px rgba(50, 50, 50, 0.3);
			-moz-box-sizing:    border-box;
			-webkit-box-sizing: border-box;
			box-sizing:        border-box;
		}

		.active-1 {
			border: 4px solid $blue;
		}

		.active-2 {
			border: 4px solid $red;
		}

		.button {
			clear: both;
			margin: 30px auto;
			display: block;
			width: 300px;
			height: 60px;
			border-radius: 10px;
			border: 3px solid rgba(0,0,0,0.4);
			line-height: 60px;
			font-size: 30px;
			text-align: center;
			font-family: $font2;
			color: rgba(0,0,0,0.8);
			text-decoration: none;
		}
	}
}

.battle {
	padding-top: 20px;

	header {
		background: url(../images/header-battle.png) no-repeat center center;
		height: 170px;
		width: 100%;
		margin: 0 auto;

		.wrapper {
			width: $width;
			margin: 0 auto;
		}

		.player1 {
			position: relative;
			float: left;
			width: 500px;
			margin: 52px 0 0 0;
			height: 70px;
			
			img {
				height: 60px;
				width: 60px;
				margin: 5px 0 0 40px;
				border-radius: 30px;
				float: left;
			}

			.level {
				width: 370px;
				height: 24px;
				position: relative;
				margin: 24px 0 0 130px;

				span {
					display: inline-block;
					width: 100%;
					height: 24px;
					background: $red;
					animation-duration: 2s;
					-webkit-animation-duration: 2s;
					animation-timing-function: linear;
					-webkit-animation-timing-function: linear; 
					background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255,255,255,.12) 10px, rgba(255,255,255,.12) 20px);
					transition: width 1s ease-in-out;
				}
			}

			.turn {
				color: $blue;
				float: left;
				margin: 43px 0 0 -60px;
				font-size: 28px;
			}
		}

		.player2 {
			position: relative;
			float: left;
			width: 500px;
			height: 70px;
			margin: 52px 0 0 200px;

			img {
				height: 60px;
				width: 60px;
				margin: 5px 40px 0 0;
				border-radius: 30px;
				float: right;
			}

			.level {
				width: 370px;
				height: 24px;
				position: relative;
				margin: 24px 130px 0 0;

				span {
					display: inline-block;
					width: 100%;
					height: 24px;
					background: $blue;
					float: right;
					animation-duration:2s;
					-webkit-animation-duration: 2s;
					animation-timing-function: linear;
					-webkit-animation-timing-function: linear; 
					background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255,255,255,.15) 10px, rgba(255,255,255,.15) 20px);
					transition: width 1s ease-in-out;
				}
			}

			.turn {
				color: $red;
				float: right;
				margin: 43px -60px 0 0;
				font-size: 28px;
			}
		}
	}

	main {
		.keuze {
			padding: 0 50px;
			text-align: center;
			margin: 0 0 40px 0;
			float: left;

			a {
				font-family: $font2;
				font-size: 24px;
				color: #000;
			}
		}

		.kleur1 a {
			border-left: 4px solid $red;
			padding: 5px 0 5px 10px;
			text-decoration: none;
		}

		.kleur2 a {
			border-left: 4px solid $blue;
			padding: 5px 0 5px 10px;
			text-decoration: none;
		}

		.kleur1 a.active {
			color: $red;
		}
		
		.kleur2 a.active {
			color: $blue;
		}

		h1 {
			width: 100%;
			display: block;
			text-align: center;
			font-family: $font2;
			font-size: 32px;
		}

		.score {
			float: left;
			padding: 20px 50px;

			.half {
				width: 550px;
				float: left;

				text-align: center;
				font-size: 200px;
				line-height: 300px;
				font-family: $font2;
				color: rgba(0,0,0,0.8);
			}
			.half:nth-child(1) {
				border-bottom: 10px solid $blue;
			}

			.half:nth-child(2) {
				border-bottom: 10px solid $red;
			}

		}
	}
}

.result {
	header {
		background: url(../images/header-winner.png) no-repeat center center; 
		width: 100%;
		height: 300px;
	}

	.image {
		width: 300px;
		height: 300px;
		margin: 0 auto;

		img {
			border-radius: 150px;
			width: 100%;
			max-height: 300px;
		}
	}

	.button {
		clear: both;
		margin: 50px auto;
		display: block;
		width: 300px;
		height: 60px;
		border-radius: 10px;
		border: 3px solid rgba(0,0,0,0.4);
		line-height: 60px;
		font-size: 30px;
		text-align: center;
		font-family: $font2;
		color: rgba(0,0,0,0.8);
		text-decoration: none;
	}

	.social {
		text-align: center;
		margin-bottom: 10px;
		
		.button2 {
			display: inline-block;
			width: 150px;
			height: 40px;
			border-radius: 10px;
			border: 3px solid rgba(0,0,0,0.4);
			line-height: 40px;
			font-size: 20px;
			text-align: center;
			font-family: $font2;
			color: rgba(0,0,0,0.8);
			text-decoration: none;
		}
		.button2.facebook {
			border: 3px solid #3b5998;
		}
		.button2.twitter {
			border: 3px solid #00aced;
		}
		span {
			font-size: 20px;
			line-height: 40px;
			margin: 5px 20px 0 20px;
		}
	}
}

footer {
	display: block;
	float: left;
	width: 100%;
	background: url(../images/background.png) repeat;
	font-size: 13px;

    p {
        text-align: center;
        color: rgba(0,0,0,0.6);
    }
	img {
		width: 100px;
	}
	a {
		color: rgba(0,0,0,0.6);
		text-decoration: none;
	}
	.pink {
		color: #dd4545;
	}
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background: rgba(0,0,0,0.7);
    display: none;
}
.overlay .loading {
	width: 200px;
	height: 225px;
	display: block;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -112px;
	position: absolute;
}
.loading img {
	width: 200px;
	height: 225px;
	border-radius: 20px;
}
.loading h1 {
	color: #fff;
	font-size: 32px;
	text-align: center;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}
