@import 'vars';

body {
	margin: 0;
	padding: 0;
	background: url(../images/background.png) repeat;
}

main {
	width: $width;
	margin: 0 auto;

	.col {
		float: left;
		width: 200px;
		margin-right: 25px;
	}
	.col:nth-child(5) {
		margin-right: 0;
	}
}

.start {

	header {
		background: url(../images/header.png) no-repeat center center; 
		width: 100%;
		height: 363px;
	}

	main {
		
		.wrapper {
			padding: 0 50px;
		}

		img {
			border-radius: 100px;
			width: 200px;
			height: 200px;
			box-shadow: inset 0px 24px 0px 0px rgba(50, 50, 50, 0.3), 0px 1px 0px 2px rgba(50, 50, 50, 0.3);
		}

		.active-1 {
			border: 4px solid $blue;
		}

		.active-2 {
			border: 4px solid $red;
		}

		.button {
			clear: both;
			margin: 50px auto;
			display: block;
			width: 300px;
			height: 60px;
			border-radius: 10px;
			border: 3px solid rgba(0,0,0,0.4);
			line-height: 60px;
			font-size: 30px;
			text-align: center;
			font-family: $font2;
			color: #000;
			text-decoration: none;
		}
	}
}

.battle {

	header {
		background: url(../images/header-battle.png) no-repeat;
		height: 170px;
		width: $width;
		margin: 20px auto 0 auto;

		.player1 {
			width: 600px;
			border: 1px solid #000;
		}

		.player2 {
			width: 600px;
			border: 1px solid #000;
		}
	}
}

.clear {
	clear: both;
}
