<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>KO14</title>

	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body class="battle">
	
	<header>
		<div class="wrapper">
			<div class="player1">
				<img src="http://dummyimage.com/60x60/000/fff&text=MAGGIE">
				<div class="level">
					<span></span>
				</div>
			</div>
			<div class="player2">
				<img src="http://dummyimage.com/60x60/000/fff&text=MAGGIE">
				<div class="level">
					<span></span>
				</div>
			</div>
		</div>
	</header>

	<main>
		<div class="wrapper">
			<div class="score">
				<div class="half fight1">
					<span>2917</span>
				</div>
				<div class="half fight2">
					<span>2917</span>
				</div>
			</div>
		</div>
	</main>
</body>
</html>