extends layout

block content
    section.vs
        div.politicians
            h1
                img(src="/img/logo.png")
            div.parties
                div.party
                    h3 NVA
                    div.politician(draggable="true",data-img="bart_big.png")
                        img(src="/img/politicians/bart.png")
                    div.politician(draggable="true",data-img="bart_big.png")
                        img(src="/img/politicians/bart.png")
                    div.politician(draggable="true",data-img="bart_big.png")
                        img(src="/img/politicians/bart.png")
        section#content
            div.slide
                div.arena
                    div.side1.side(data-side="1")
                    div.side2.side(data-side="2")
                    div.vs-circle#start
                        div
                            p.text VS
            div.results

