<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>KO14</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="start">
	<header></header>
	<main>
		<div class="wrapper">
			<div class="col">
				<img src="images/avatar.png" class="fighter">
			</div>
			<div class="col">
				<img src="images/avatar.png" class="fighter">
			</div>
			<div class="col">
				<img src="images/avatar.png" class="fighter">
			</div>
			<div class="col">
				<img src="images/avatar.png" class="fighter">
			</div>
			<div class="col">
				<img src="images/avatar.png" class="fighter">
			</div>
			<div class="clear"></div>

			<a href="#" class="button">3. 2. 1. Fight!</a>
		</div>
	</main>
	</div>


	<div class="battle">
		<header>
			<div class="wrapper">
				<div class="player1">
					<img src="http://dummyimage.com/60x60/000/fff&text=MAGGIE">
					<div class="level">
						<span></span>
					</div>
					<span class="turn">Pick your action</span>
				</div>
				<div class="player2">
					<img src="http://dummyimage.com/60x60/000/fff&text=MAGGIE">
					<div class="level">
						<span></span>
					</div>
					<span class="turn hide">Pick your action</span>
				</div>
			</div>
		</header>

		<main>
			<div class="wrapper">
				<div class="keuze kleur2">
					<div class="col">
						<a href="#" id="1">Keuze 1</a>
					</div>
					<div class="col">
						<a href="#" id="2" class="active">Keuze 2</a>
					</div>
					<div class="col">
						<a href="#" id="3">Keuze 3</a>
					</div>
					<div class="col">
						<a href="#" id="4">Keuze 4</a>
					</div>
					<div class="col">
						<a href="#" id="5">Keuze 5</a>
					</div>
				</div>
				<h1>Wie heeft de meeste volgers op Twitter?</h1>
				<div class="score">
					<div class="half fight1">
						0
					</div>
					<div class="half fight2">
						0
					</div>
				</div>
			</div>
		</main>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="scripts/main.js"></script>
</body>
</html>