doctype html
html
  head
    title=Glide
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster' type='text/css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="/javascripts/drag.js")