$width: 1200px;
$padding: 25px;

$red: 	#dd6d69;
$blue: 	#85c3bc;

/* fonts */
$font1: 	'homestead_regularregular';
$font2: 	'vincentregular';

@font-face {
    font-family: 'homestead_regularregular';
    src: url('../fonts/homestead-regular-webfont.eot');
    src: url('../fonts/homestead-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/homestead-regular-webfont.woff') format('woff'),
         url('../fonts/homestead-regular-webfont.ttf') format('truetype'),
         url('../fonts/homestead-regular-webfont.svg#homestead_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vincentregular';
    src: url('../fonts/vincent-regular-webfont.eot');
    src: url('../fonts/vincent-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vincent-regular-webfont.woff') format('woff'),
         url('../fonts/vincent-regular-webfont.ttf') format('truetype'),
         url('../fonts/vincent-regular-webfont.svg#vincentregular') format('svg');
    font-weight: normal;
    font-style: normal;

}